body
{
    margin: 0;
    background: linear-gradient(to left bottom, rgb(0, 81, 255), rgb(163, 255, 163));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: green;
}

.container
{
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading
{
    font-size: 32px;
}

.temp-container
{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.input
{
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
    color: darkgreen;
    font-size: 18px;
    border-radius: 10px;
}

.input::placeholder
{
    color: rgb(94, 94, 94);
    text-transform: capitalize;
}

.btn-center
{
    display: flex;
    justify-content: center;
}

button
{
    font-size: 20px;
    color: black;
    background-color: rgba(255,255,255,0.3);
    outline: none;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button:hover
{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}